<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    <h3>List</h3>
    <button onclick="list_user()">LIST</button>

    <div id="div_user_list"></div>

    <script>
        function list_user() {
            $.ajax({
                url: "/api/user/list",
                type: "GET",
                data:{},
                cache: false,
                success: (obj_data, status, xhr) => {
                    alert(JSON.stringify(obj_data)); //alert창으로 띄우고
                    //detail page로 넘어갈 수 있게 하나씩 List
                    $("#div_user_list").empty();
                    obj_data.forEach(user => {
                        let { username, id } = user;
                        $("#div_user_list").append(
                            `<div><a href='/user/detail/${id}'>${id} || ${username}</a></div>`
                        );
                    });
                },
                error: (xhr, status, error) => {
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>
</div>
</body>
</html>